﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/General/GridStyle.css" rel="Stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
    


    
</head>
<body onload="init()">
<div id="loading" style="position:absolute; width:100%; text-align:center;
 top:300px;">
<img src="../Styles/Images/Bert2_Loader.gif" alt="Load"/>
<br />Loading....
</div>
<script type="text/javascript">
    var ld = (document.all);
    var ns4 = document.layers;
    var ns6 = document.getElementById && !document.all;
    var ie4 = document.all;
    if (ns4)
        ld = document.loading;
    else if (ns6)
        ld = document.getElementById("loading").style;
    else if (ie4)
        ld = document.all.loading.style;
    function init() {
        if (ns4) { ld.visibility = "hidden"; }
        else if (ns6 || ie4) ld.display = "none";
    }
 </script>



    <form runat="server">
    
    <div class="page">

        <div class="header">

            <div class="title" style="width:40%; float:left">

                <asp:Label runat="server" ID="lbl1" Text="" CssClass="whiteHeader"></asp:Label><br />
                <asp:Label runat="server" ID="lbl2" Text=""  CssClass="whiteHeader"></asp:Label><br />
                <asp:Label runat="server" ID="lbl3" Text="" CssClass="whiteHeader"></asp:Label><br />
                <asp:Label runat="server" ID="lbl4" Text=""  CssClass="whiteHeader"></asp:Label>
            </div>
            
            <div class="title" style="width:20%; float:left">

                <asp:Label runat="server" ID="lbl5" Text="" CssClass="whiteHeader"></asp:Label><br />
                <asp:Label runat="server" ID="lbl6" Text=""  CssClass="whiteHeader"></asp:Label><br />
                <asp:Label runat="server" ID="lblHeader" Text="Set Title Here From Child" CssClass="whiteHeader"></asp:Label><br />
                <asp:Label runat="server" ID="lbl7" Text=""  CssClass="whiteHeader"></asp:Label>
            </div>

            <div class="title" style="width:30%; float:right; text-wrap:none;">

                <span class="userName"> 
                        <%= DPConflicts.UserProfile.GetUserProfile(System.Web.HttpContext.Current.User.Identity.Name).ProperName%>
                </span> 
                <br />
                <span class="userName">  
                        <%=System.DateTime.Now.ToString("F",System.Globalization.CultureInfo.CreateSpecificCulture("en-US")) %>
                </span>
                <br />
                <span class="rightHeader">
                    <asp:Label ID="lblHelp" runat="server" Text="Help with this page"></asp:Label>
                    <asp:ImageButton ID="ibHelp"  
                        runat="server" 
                        AlternateText="Help with this page" 
                        ToolTip="Help with this page"
                        ImageUrl="~/Pictures/icon_arrow_outlined.gif" />
                </span>
                <br />
                <span class="rightHeader">
                    <asp:HyperLink  ID="hlPrint" runat="server" 
                        Target="_blank" 
                        Text="print" 
                        ImageUrl="~/Pictures/print.gif" 
                        Visible="false" />    
                    </span>   
            </div>
                
        </div>
            
    </div>
         

    <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
    </div>
    <div class="clear"></div>

    <div class="footer">

            <span class="footerLeft alpha">Copyright © 2013 Day Pitney LLP</span>
            <span class="footerRight omega">Version 1.01</span>

    </div>
         <div class="clear">
        </div>
    </form>
</body>


</html>

