﻿.myGrid  
{  
     margin: 0px;  
     width: 100%;  
     font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;  
   
}  

.myGrid tr  
{  
     border: solid 1px #307196;  
}  
   
.myGrid td  
{  
     padding: 3px;  
     font-weight: normal;  
     border: solid 1px #307196;  
}  

.myGridItem
{
	margin: 0px;
	width: 100%;
	font: 12px verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	background-color: #99CCFF;
}
.myGridAltItem
{
	margin: 0px;
	width: 100%;
	font: 12px verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	background-color: #99CCFF;
}
.myGridHeader
{
	margin: 0px;
	width: 100%;
	font: 12px verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight: bold;
	background-color: #3399FF;
}

