﻿.myFormView
{
    margin: 0px;
    width: 100%;
    font: 12px verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
    margin: none;
    border-style: none;
}  

.myFormView thead
{
    border-style: none;
    font-weight: bold;
}

.myFormView tr
{
    border-style: none;
}  
   
.myFormView td
{
    border-style: none;
    font-weight: normal;
}  

.myFormViewItem
{
	margin: 0px;
	width: 100%;
	font: 12px verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	background-color: White;
}

.myFormViewHeader
{
    margin: 0px;
    width: 100%;
    font: 14px verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
    font-weight: bold;
}

