﻿
.myGrid
{
    margin: 0px;
    width: 100%;
    font: 11px verdana;
    text-align: left;
    color: #484848;
    border: 1px solid #D1E0EF;
    
}
 
.myGrid table
{
    margin: 0px;
    font: 10px verdana;
    text-align: left;
    color: #484848;
    border: 1px solid #D1E0EF;
    table-layout: fixed;
}
.myGrid tr
{
    border: none 1px #307196;
    
} 
 
   
.myGrid td  
{  
     padding: 3px;  
     font-weight: normal;  
     border: none 1px #307196;  
     text-align: left;

}

.myGrid th
{
	margin: 0px;
	font: 10px verdana;
	font-weight: bold;
	background-color: #5078B3;
	color: #FFFFFF;
	text-align: left;
}

.myGridItem
{
    margin: 0px;
    font: 10px verdana;
    color: Black;
    background-color: #D3DEEF;
}

.myGridItemComments
{
    font-family: Verdana;
    font-size: 10px;
    background-color: #CCCCC0;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.myGridAltItem
{
    margin: 0px;
    color: Black;
    font: 10px verdana;
    background-color: #FFF;
}

.myGridHeader
{
	margin: 0px;
	font: 12px verdana;
	font-weight: bold;
	background-color: #005f9c;
	color: White;
	text-align: left;
}

.myGridFooter
{
    margin: 0px;
    font: 12px verdana;
    font-weight: bold;
    background-color:#005f9c;
    color: White;
    text-align: left;
    width: 200px;
}
.myGrid .myGridPagerStyle {
    background: #005f9c; color: White;
}
.myGrid .myGridPagerStyle table { margin: 5px 0; width:100px; }  
.myGrid .myGridPagerStyle td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #005f9c;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.myGrid .myGridPagerStyle a {
    color: #C0C0C0;
    text-decoration: none;
}  
.myGrid .myGridPagerStyle a:hover { color: #000; text-decoration: none; } 
