﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #FFF;
    font-size: .80em;
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
    color: #000;
    width: 100%;
}

a:link, a:visited
{
    color: Red;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.watermark {  
    color: #999999;  
    background-color: #ffffaa;
    border: solid 2px #cccccc;  
    border-top: solid 2px #a0a0a0;  
} 
.page
{
    width: 100%;
    background-color: #fff;
    height: 100%;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    display: block;
    background-image: url('../Pictures/header-grad.png');
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 1px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 5px 12px;
    margin: 0px 0px 0px 0px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}


.footer {
    padding: 3px 10px 3px 10px;
    margin: 3px;
    border: thin dotted #000000;
    color: #4e5766;
    font-size: xx-small;
    background-color: #CCCCCC;
    height: 30px;
    vertical-align: middle;
    font-family: Verdana;
    text-align: center;
    position: inherit;
}

.footerLeft
{
    display: block;
    float: left;
    font-size: x-small;
}

.footerRight
{
    display: block;
    float: right;
    font-size: x-small;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    padding: 2px;
    display: block;
    float: left;
    text-align: left;
    width: auto;
    height: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
    font-family: Verdana;
}

.redBold
{
    font-weight: bold;
    color: Red;
}
.whiteBold
{
    font-weight: bold;
    color: White;
}
.whiteHeader
{
    font-weight: normal;
    color: White;
    text-align:left;
    float:left;

}
.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.userName
{
   float: right;

   font-size: x-small;
   font-family: Verdana;
   color: #FFFFFF;
   margin-right:10px;
    
}
.rightHeader
{
   float: right;

   font-size: x-small;
   font-family: Verdana;
   color: #FFFFFF;
   margin-right:10px;
}

#tableBot
{
    background-image:url('~/pictures/bottomShadow.gif');
    width: 785px;
    height: 16px;
}

.grid_13
{
    padding: 3px;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    height: 20px;
}

.grid_right
{
    padding: 3px;
    display: block;
    float: right;
    margin-left: 5px;
    margin-right: 1px;
    font-size: 14px;
    height: 20px;
}

.UtilityMenu
{
    color: #90B9D2;
    text-align: left;
    width: 30%;
}
.alpha
{
    margin-left: 0;
}
.omega
{
    margin-right: 0;
}

.clearfix:before, .clearfix:after
{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after
{
    clear: both;
}
.clearfix
{
    -ms-zoom: 1;
}

/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}



.popup_Container 
{
	background-color:#D3DEEF;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;
}

.popupConfirmation
{
    top: 20px;
	width: 400px;
	height: 300px;
}

.popup_Titlebar {
	background:url(Images/titlebar_bg.jpg);
	height: 25px;
}

.popup_Body
{
	padding:5px 5px 5px 5px;
	top:10px;
	font-family:Verdana;
	font-weight:normal;
	font-size:10px;
	color:#5078B3;
	line-height:10pt;
	clear:both;
	padding:5px;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.TitlebarRight 
{
	background:url(Images/cross_icon_normal.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.popup_Buttons
{
	margin:10px;
}

#UpdateProgress1 
 {
   background-color:#D3DEEF;
   color:White;
   top: 0px;
   right: 0px;
   position:fixed;
 }
 
#UpdateProgress1 img {
   vertical-align:middle;
   margin:2px;
 }
 .CenterPB
 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px; /* make this half your image/element height */
    margin-left: -30px; /* make this half your image/element width */
}
.ModalPopupBG
{
    background-color: #D3DEEF;
	-ms-filter: alpha(opacity=80);
    -ms-opacity:0.8;
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
}

.myGrid table
{
    margin: 0px;
    font: 10px verdana;
    text-align: left;
    color: #484848;
    border: 1px solid #D1E0EF;
    table-layout: fixed;
}
.myTable tr
{
    border: solid 1px #307196;
    
} 
 
   
.myTable td  
{  
     padding: 3px;  
     font-weight: normal;  
     border: solid 1px #307196;  
     text-align: left;

}

.myTable th
{
	margin: 0px;
	font: 10px verdana;
	font-weight: bold;
	background-color: #5078B3;
	color: #FFFFFF;
	text-align: left;
}