﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Timeout.aspx.cs" Inherits="Conflicts_Timeout" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
<asp:Label ID="lblNoFid" runat="server" Text="** Folder Id is required" ForeColor="Red"></asp:Label>
</asp:Content>

